@using SQLitePCL
@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Movie list";
    Layout = "_Layout";
}

<h1 class="text-center">Movie List</h1>

<div class="d-flex flex-column gap-3">
    <div class="border-black border-1">
        <form class="input-group gap-3 d-flex flex-column" asp-action="Index" method="get">
            <div class="input-group">
                <input name="searchTitle" type="text" class="form-control" placeholder="Search..." value="@ViewData["CurrentFilter"]">
            </div>
            <div class="d-flex justify-content-between">
                <div class="btn-group" role="group" aria-label="Sorting options">
                    <!-- sorted by best rated -->
                    <input type="radio" class="btn-check auto-submit-radio" name="sorting" id="best_rated"
                           value="best_rated" autocomplete="off" checked="@ViewData["best_rated"]">
                    <label class="btn btn-outline-primary" for="best_rated">Best Rated</label>

                    <!-- sorted by most reviewed -->
                    <input type="radio" class="btn-check" name="sorting" id="most_reviewed"
                           value="most_reviewed" autocomplete="off"checked="@ViewData["most_reviewed"]">
                    <label class="btn btn-outline-primary" for="most_reviewed">Most Reviewed</label>

                    <!-- alphabetically sorted -->
                    <input type="radio" class="btn-check" name="sorting" id="alphabetically"
                           value="alphabetically" autocomplete="off" checked="@ViewData["sorting_alphabetically"]">
                    <label class="btn btn-outline-primary" for="alphabetically">Alphabetically</label>
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>

    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-md-4 mb-4 overflow-hidden" style="height: 400px;">
                <div class="card h-100">

                    <!-- image -->
                    <img src="@movie.ImageUrl" class="card-img-top h-50" alt="@movie.Title"/>

                    <!-- text -->
                    <div class="card-body flex-grow-1 overflow-hidden">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.Description</p>
                    </div>

                    <!-- buttons -->
                    <div class="card-footer d-flex justify-content-between bg-white align-items-center">
                        <div class="d-flex flex-row ">
                            @{
                                double averageRating = 0;

                                if (movie.Ratings != null && movie.Ratings.Any())
                                {
                                    averageRating = movie.Ratings.Average(r => r.StarRating);
                                }
                                else averageRating = 0;
                            }

                            @for (int j = 1; j <= 5; j++)
                            {
                                if (averageRating >= 1)
                                {
                                    <img src="~/images/star-full-yellow.png" class="img-fluid" width="24" height="24" alt="star-full"/>
                                    averageRating--;
                                }
                                else if (averageRating <= 0)
                                {
                                    <img src="~/images/star-empty-yellow.png" class="img-fluid" width="24" height="24" alt="star-full"/>
                                    averageRating--;
                                }
                                else
                                {
                                    <img src="~/images/star-half-yellow.png" class="img-fluid" width="24" height="24" alt="star-full"/>
                                    averageRating--;
                                }
                            }
                        </div>

                        <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary btn-sm">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>